<html>
    <head>
        <title>Kino z Karolą</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kino z Karolą</a></h1>
        </div>

        <div>
            <p>published: 11.08.2017, 23:57</p>
            <h2><a href="">My first post</a></h2>
            <p>Pada deszcz i grzmi. Idzie burze</p>
        </div>

        <div>
            <p>published 12.08.2017, 00:01</p>
            <h2><a href="">My second post</a></h2>
            <p>Nadal pada i jest burza</p>
        </div>
    </body>
</html>
